<h1>BBS Sign Up Page</h1>

<%= form_for @user do |f| %>
  <%=f.text_field :username, :placeholder => "username"%>
  <%=f.text_field :password, :placeholder => "password"%>
  <%=f.text_field :email, :placeholder => "email"%>
  <%=f.submit :id => "test"%>
<%end%>
