<h1> <%=@shops.BarbershopName%> </h1>

 <%= Date.today%>
 <div class="one rows">
   <table>
     <tr>
       <th>
       </th>
       <th>
         Open
       </th>
       <th>
         Closed
       </th>
     </tr>
  <% sorteddates = @shops.opendates.sort_by {|obj| obj.day_of_the_week}%>
   <% sorteddates.each do |t| %>
   <tr>
     <td>
       <%= t.day_of_the_week%>
     </td>
     <td>
       <%= t.open.strftime('%l:%M %p')%>
     </td>
     <td>
       <%= t.closed.strftime('%l:%M %p')%>
     </td>
     <td>
    </tr>
   <%end%>
   </table>
